.dogPhotos {
  display: none;
}

nav {
  background-color: #333;
  color: white;
  box-shadow: 2px 2px 1px;
  display:flex;
  justify-content: space-between;
}

nav.btn {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

body{
  background-color: #c8faed;
}

.topnav {
  overflow: hidden;
  background-color: #1c30c9;
}
.topnav a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  background-color: #ddd;
  color: blue;
  width: 100%;
  height: 3.2em;
  text-align: center;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}
#photos {
  list-style: none;
}
